.container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;

}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh3gOK0cbIGnt8I1M2Z_ExA0VTLZXBeoQwKOVTd5O9sJ8GMNea4-lfiLmNj-mBjvIv_Uw&usqp=CAU");
    background-size: cover;
}
.right{
    display: flex;
    justify-content:center;
}
#check{
    background-color: purple;
    color: aliceblue;
    height: 30px;
    border: none;
    border-radius: 0.3rem;
}
#number{
    height: 25px;
}
#result{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;      
}  
.alert{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}